/* projects.module.css */

.projectItem {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectItem:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.projectItem img {
    transition: transform 0.5s ease;
}

.projectItem:hover img {
    transform: scale(1.05);
}
